:root {
  --header-height: 64px;
  --color-dark: #282c34;
  --color-white: #fafafa;
  --color-slight: rgba(255, 255, 255, 0.1);
  --color-gentle: rgba(255, 255, 255, 0.5);
}

body {
  background-color: var(--color-dark);
  color: var(--color-white);
}

header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  padding-left: 16px;
}

main {
  min-height: calc(100vh - var(--header-height));
}

.logo {
  text-decoration: none;
  font-size: 32px;
}

footer {
  display: flex;
  align-items: center;
  height: 64px;
}

footer p {
  width: fit-content;
  margin: auto;
  color: var(--color-gentle);
  font-size: 8px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

.buttonBar {
  padding: 16px 0;
}

.button {
  display: block;
  width: fit-content;
  margin: auto;
  padding: 16px 8px;
  border: 1px solid var(--color-gentle);
  background-color: var(--color-slight);
  color: var(--color-white);
  text-decoration: none;
}

.button:hover {
  background-color: white;
  color: black;
}
